@model CadastroDePessoas.Models.People

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Pessoa</h1>


<div class="left">
    <a class="waves-effect waves-light btn" title="Voltar" asp-action="Index">
        <i class="material-icons">arrow_back</i>
    </a>
</div>
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="idUpdate" asp-for="Id" />
            <div class="input-field col s12 m6">
                <input asp-for="NomeCompleto" placeholder="Digite aqui" id="NomeCompleto" type="text" class="validate">
                <label asp-for="NomeCompleto" for="NomeCompleto">Nome Completo</label>
                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
            </div>

            <div class="input-field col s12 m6">
                <input asp-for="DataNascimento" placeholder="Digite aqui" id="DataNascimento" type="text" class="validate">
                <label asp-for="DataNascimento" for="DataNascimento">Data Nascimento</label>
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>

            <div class="input-field col s12 m6 center">
                <input asp-for="Salario" placeholder="Digite aqui" id="Salario" type="text" class="validate">
                <label asp-for="Salario" for="Salario">Salário</label>
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            <div class="col s12 m12">
                <a href="javascript:updatePeople()" class="waves-effect waves-light btn">Atualizar Dados</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
